### PySpark DataFrame
###### Filter Operation
###### &,|,==
###### ~

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark=SparkSession.builder.appName('dataframe').getOrCreate()

In [3]:
df_pyspark=spark.read.csv('test4.csv',header=True,inferSchema=True)

In [4]:
df_pyspark.show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
|Rishav| 21|        10| 30000|
|Subham| 22|         8| 25000|
|Pankaj| 30|         4| 20000|
| Niraj| 25|         3| 20000|
|Kundan| 26|         1| 15000|
| Ritik| 20|         2| 18000|
+------+---+----------+------+

#### Filter Operations

In [5]:
### Salary of the people less than or equal to 20000
df_pyspark.filter("Salary<=20000").show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
|Pankaj| 30|         4| 20000|
| Niraj| 25|         3| 20000|
|Kundan| 26|         1| 15000|
| Ritik| 20|         2| 18000|
+------+---+----------+------+

In [6]:
df_pyspark.filter("Salary<=20000").select(['Name','age']).show()

+------+---+
|  Name|age|
+------+---+
|Pankaj| 30|
| Niraj| 25|
|Kundan| 26|
| Ritik| 20|
+------+---+

In [7]:
df_pyspark.filter(df_pyspark['Salary']<=20000).show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
|Pankaj| 30|         4| 20000|
| Niraj| 25|         3| 20000|
|Kundan| 26|         1| 15000|
| Ritik| 20|         2| 18000|
+------+---+----------+------+

In [8]:
df_pyspark.filter((df_pyspark['Salary']<=20000) | 
                  (df_pyspark['Salary']>=15000)).show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
|Rishav| 21|        10| 30000|
|Subham| 22|         8| 25000|
|Pankaj| 30|         4| 20000|
| Niraj| 25|         3| 20000|
|Kundan| 26|         1| 15000|
| Ritik| 20|         2| 18000|
+------+---+----------+------+

In [9]:
df_pyspark.filter(~(df_pyspark['Salary']<=20000)).show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
|Rishav| 21|        10| 30000|
|Subham| 22|         8| 25000|
+------+---+----------+------+