#### GroupBy And Aggregate Functions

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark=SparkSession.builder.appName('Practice').getOrCreate()

In [3]:
spark

In [4]:
df_pyspark=spark.read.csv('test5.csv',header=True,inferSchema=True)

In [5]:
df_pyspark.show()

+------+------------+------+
|  Name|  Department|Salary|
+------+------------+------+
|Rishav|Data Science| 10000|
|Rishav|         IOT|  5000|
| Ritik|    Big Data|  4000|
|Rishav|    Big Data|  4000|
| Ritik|Data Science|  3000|
|Subham|Data Science| 20000|
|Subham|         IOT| 10000|
|Subham|    Big Data|  5000|
|    Me|Data Science| 10000|
|    Me|    Big Data|  2000|
+------+------------+------+

In [6]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Department: string (nullable = true)
 |-- Salary: integer (nullable = true)

In [7]:
## Groupby
### Grouped to find the maximum salary by name
df_pyspark.groupBy('Name').sum().show()

+------+-----------+
|  Name|sum(Salary)|
+------+-----------+
|Rishav|      19000|
| Ritik|       7000|
|    Me|      12000|
|Subham|      35000|
+------+-----------+

In [8]:
### Grouped by name
df_pyspark.groupBy('Name').avg().show()

+------+------------------+
|  Name|       avg(Salary)|
+------+------------------+
|Rishav| 6333.333333333333|
| Ritik|            3500.0|
|    Me|            6000.0|
|Subham|11666.666666666666|
+------+------------------+

In [10]:
### Groupby Departmernts  which gives maximum salary
df_pyspark.groupBy('Department').sum().show()

+------------+-----------+
|  Department|sum(Salary)|
+------------+-----------+
|         IOT|      15000|
|    Big Data|      15000|
|Data Science|      43000|
+------------+-----------+

In [11]:
### Groupby Departmernts  which gives mean of salary
df_pyspark.groupBy('Department').mean().show()

+------------+-----------+
|  Department|avg(Salary)|
+------------+-----------+
|         IOT|     7500.0|
|    Big Data|     3750.0|
|Data Science|    10750.0|
+------------+-----------+

In [12]:
####  Groupby count of People to  department
df_pyspark.groupBy('Department').count().show()

+------------+-----+
|  Department|count|
+------------+-----+
|         IOT|    2|
|    Big Data|    4|
|Data Science|    4|
+------------+-----+

In [13]:
### Sum of salary
df_pyspark.agg({'Salary':'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|      73000|
+-----------+