###### Reading The Dataset
###### Datatypes of the Column(Schema)
###### Selecting Columns And Indexing
###### Describe option
###### Adding Columns
###### Dropping columns
###### Renaming Columns
###### Rename Columns

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark=SparkSession.builder.appName('Dataframe').getOrCreate()

In [3]:
spark

In [4]:
## read Dataset
df_pyspark = spark.read.option('header', 'true').csv('test2.csv', inferSchema = True)

In [5]:
df_pyspark.show()

+------+---+----------+
|  Name|Age|Experience|
+------+---+----------+
|Subham| 22|         3|
|Rishav| 21|         2|
|    Me| 20|         1|
+------+---+----------+

In [6]:
# Check Schema
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [7]:
df_pyspark = spark.read.csv('test2.csv', header = True, inferSchema = True)
df_pyspark.show()

+------+---+----------+
|  Name|Age|Experience|
+------+---+----------+
|Subham| 22|         3|
|Rishav| 21|         2|
|    Me| 20|         1|
+------+---+----------+

In [8]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [9]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [10]:
df_pyspark.columns

['Name', 'Age', 'Experience']

In [11]:
df_pyspark.head(3)

[Row(Name='Subham', Age=22, Experience=3),
 Row(Name='Rishav', Age=21, Experience=2),
 Row(Name='Me', Age=20, Experience=1)]

In [12]:
df_pyspark.show()

+------+---+----------+
|  Name|Age|Experience|
+------+---+----------+
|Subham| 22|         3|
|Rishav| 21|         2|
|    Me| 20|         1|
+------+---+----------+

In [13]:
df_pyspark.select('Name')

DataFrame[Name: string]

In [14]:
df_pyspark.select('Name').show()

+------+
|  Name|
+------+
|Subham|
|Rishav|
|    Me|
+------+

In [15]:
df_pyspark.select(['Name','Experience'])

DataFrame[Name: string, Experience: int]

In [16]:
df_pyspark.select(['Name','Experience']).show()

+------+----------+
|  Name|Experience|
+------+----------+
|Subham|         3|
|Rishav|         2|
|    Me|         1|
+------+----------+

In [17]:
df_pyspark['Name']

Column<'Name'>

In [18]:
df_pyspark.dtypes

[('Name', 'string'), ('Age', 'int'), ('Experience', 'int')]

In [19]:
df_pyspark.describe().show()

+-------+------+----+----------+
|summary|  Name| Age|Experience|
+-------+------+----+----------+
|  count|     3|   3|         3|
|   mean|  null|21.0|       2.0|
| stddev|  null| 1.0|       1.0|
|    min|    Me|  20|         1|
|    max|Subham|  22|         3|
+-------+------+----+----------+

In [20]:
### Adding Columns in data frame
df_pyspark=df_pyspark.withColumn('Experience After 2 year',df_pyspark['Experience']+2)

In [21]:
df_pyspark.show()

+------+---+----------+-----------------------+
|  Name|Age|Experience|Experience After 2 year|
+------+---+----------+-----------------------+
|Subham| 22|         3|                      5|
|Rishav| 21|         2|                      4|
|    Me| 20|         1|                      3|
+------+---+----------+-----------------------+

In [22]:
### Drop the columns
df_pyspark=df_pyspark.drop('Experience After 2 year')

In [23]:
df_pyspark.show()

+------+---+----------+
|  Name|Age|Experience|
+------+---+----------+
|Subham| 22|         3|
|Rishav| 21|         2|
|    Me| 20|         1|
+------+---+----------+

In [24]:
### Rename the columns
df_pyspark.withColumnRenamed('Name','New Name').show()

+--------+---+----------+
|New Name|Age|Experience|
+--------+---+----------+
|  Subham| 22|         3|
|  Rishav| 21|         2|
|      Me| 20|         1|
+--------+---+----------+