### Just a small Introduction To PySpark

In [1]:
import pyspark

In [2]:
import pandas as pd
pd.read_csv('test1.csv')

     Name  age
0  Subham   22
1  Rishav   21
2      Me   20

In [3]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.appName('Practice').getOrCreate()

In [5]:
spark

In [6]:
df_pyspark = spark.read.csv('test1.csv')

In [7]:
df_pyspark.show()

+------+---+
|   _c0|_c1|
+------+---+
|  Name|age|
|Subham| 22|
|Rishav| 21|
|    Me| 20|
+------+---+

In [8]:
df_pyspark = spark.read.option('header', 'true').csv('test1.csv')

In [9]:
df_pyspark.show()

+------+---+
|  Name|age|
+------+---+
|Subham| 22|
|Rishav| 21|
|    Me| 20|
+------+---+

In [10]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [11]:
df_pyspark.head(n=3)

[Row(Name='Subham', age='22'),
 Row(Name='Rishav', age='21'),
 Row(Name='Me', age='20')]

In [12]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: string (nullable = true)