###### Dropping Columns
###### Dropping Rows
###### Various Parameter In Dropping functionalities
###### Handling Missing values by Mean, Median And Mode

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark=SparkSession.builder.appName('Practice').getOrCreate()

In [3]:
df_pyspark=spark.read.csv('test3.csv', header=True, inferSchema=True)

In [4]:
df_pyspark.show()

+------+----+----------+------+
|  Name| Age|Experience|Salary|
+------+----+----------+------+
|Rishav|  21|         3| 30000|
|Subham|  22|         2| 25000|
|Pankaj|  31|        10| 20000|
|Kundan|  28|         5| 15000|
| Niraj|  24|         2| 10000|
| Ritik|null|      null|400000|
|  null|  34|        10| 52000|
|  null|  36|      null|  null|
+------+----+----------+------+

In [5]:
##drop the columns
df_pyspark.drop('Name').show()

+----+----------+------+
| Age|Experience|Salary|
+----+----------+------+
|  21|         3| 30000|
|  22|         2| 25000|
|  31|        10| 20000|
|  28|         5| 15000|
|  24|         2| 10000|
|null|      null|400000|
|  34|        10| 52000|
|  36|      null|  null|
+----+----------+------+

In [6]:
df_pyspark.show()

+------+----+----------+------+
|  Name| Age|Experience|Salary|
+------+----+----------+------+
|Rishav|  21|         3| 30000|
|Subham|  22|         2| 25000|
|Pankaj|  31|        10| 20000|
|Kundan|  28|         5| 15000|
| Niraj|  24|         2| 10000|
| Ritik|null|      null|400000|
|  null|  34|        10| 52000|
|  null|  36|      null|  null|
+------+----+----------+------+

In [7]:
df_pyspark.na.drop().show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
|Rishav| 21|         3| 30000|
|Subham| 22|         2| 25000|
|Pankaj| 31|        10| 20000|
|Kundan| 28|         5| 15000|
| Niraj| 24|         2| 10000|
+------+---+----------+------+

In [8]:
### any==how
df_pyspark.na.drop(how="any").show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
|Rishav| 21|         3| 30000|
|Subham| 22|         2| 25000|
|Pankaj| 31|        10| 20000|
|Kundan| 28|         5| 15000|
| Niraj| 24|         2| 10000|
+------+---+----------+------+

In [9]:
### all==how drop all with null
df_pyspark.na.drop(how="all").show()

+------+----+----------+------+
|  Name| Age|Experience|Salary|
+------+----+----------+------+
|Rishav|  21|         3| 30000|
|Subham|  22|         2| 25000|
|Pankaj|  31|        10| 20000|
|Kundan|  28|         5| 15000|
| Niraj|  24|         2| 10000|
| Ritik|null|      null|400000|
|  null|  34|        10| 52000|
|  null|  36|      null|  null|
+------+----+----------+------+

In [10]:
##threshold in how - no. of non null-value
df_pyspark.na.drop(how="any",thresh=3).show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
|Rishav| 21|         3| 30000|
|Subham| 22|         2| 25000|
|Pankaj| 31|        10| 20000|
|Kundan| 28|         5| 15000|
| Niraj| 24|         2| 10000|
|  null| 34|        10| 52000|
+------+---+----------+------+

In [11]:
##Subset
df_pyspark.na.drop(how="any",subset=['Age']).show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
|Rishav| 21|         3| 30000|
|Subham| 22|         2| 25000|
|Pankaj| 31|        10| 20000|
|Kundan| 28|         5| 15000|
| Niraj| 24|         2| 10000|
|  null| 34|        10| 52000|
|  null| 36|      null|  null|
+------+---+----------+------+

In [12]:
df_pyspark.na.fill('Missing Values').show()

+--------------+----+----------+------+
|          Name| Age|Experience|Salary|
+--------------+----+----------+------+
|        Rishav|  21|         3| 30000|
|        Subham|  22|         2| 25000|
|        Pankaj|  31|        10| 20000|
|        Kundan|  28|         5| 15000|
|         Niraj|  24|         2| 10000|
|         Ritik|null|      null|400000|
|Missing Values|  34|        10| 52000|
|Missing Values|  36|      null|  null|
+--------------+----+----------+------+

In [13]:
### Filling the Missing Value
df_pyspark.na.fill("Missing Values",['Experience', 'Age']).show()

+------+----+----------+------+
|  Name| Age|Experience|Salary|
+------+----+----------+------+
|Rishav|  21|         3| 30000|
|Subham|  22|         2| 25000|
|Pankaj|  31|        10| 20000|
|Kundan|  28|         5| 15000|
| Niraj|  24|         2| 10000|
| Ritik|null|      null|400000|
|  null|  34|        10| 52000|
|  null|  36|      null|  null|
+------+----+----------+------+

In [14]:
df_pyspark.show()

+------+----+----------+------+
|  Name| Age|Experience|Salary|
+------+----+----------+------+
|Rishav|  21|         3| 30000|
|Subham|  22|         2| 25000|
|Pankaj|  31|        10| 20000|
|Kundan|  28|         5| 15000|
| Niraj|  24|         2| 10000|
| Ritik|null|      null|400000|
|  null|  34|        10| 52000|
|  null|  36|      null|  null|
+------+----+----------+------+

In [15]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

###### Median

In [16]:
from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols=['Age', 'Experience', 'Salary'], 
    outputCols=["{}_imputed".format(c) for c in ['age', 'Experience', 'Salary']]
    ).setStrategy("median")

In [17]:
# Add imputation cols to df
imputer.fit(df_pyspark).transform(df_pyspark).show()

+------+----+----------+------+-----------+------------------+--------------+
|  Name| Age|Experience|Salary|age_imputed|Experience_imputed|Salary_imputed|
+------+----+----------+------+-----------+------------------+--------------+
|Rishav|  21|         3| 30000|         21|                 3|         30000|
|Subham|  22|         2| 25000|         22|                 2|         25000|
|Pankaj|  31|        10| 20000|         31|                10|         20000|
|Kundan|  28|         5| 15000|         28|                 5|         15000|
| Niraj|  24|         2| 10000|         24|                 2|         10000|
| Ritik|null|      null|400000|         28|                 3|        400000|
|  null|  34|        10| 52000|         34|                10|         52000|
|  null|  36|      null|  null|         36|                 3|         25000|
+------+----+----------+------+-----------+------------------+--------------+

###### Mean

In [18]:
from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols=['Age', 'Experience', 'Salary'], 
    outputCols=["{}_imputed".format(c) for c in ['age', 'Experience', 'Salary']]
    ).setStrategy("mean")

In [19]:
# Add imputation cols to df
imputer.fit(df_pyspark).transform(df_pyspark).show()

+------+----+----------+------+-----------+------------------+--------------+
|  Name| Age|Experience|Salary|age_imputed|Experience_imputed|Salary_imputed|
+------+----+----------+------+-----------+------------------+--------------+
|Rishav|  21|         3| 30000|         21|                 3|         30000|
|Subham|  22|         2| 25000|         22|                 2|         25000|
|Pankaj|  31|        10| 20000|         31|                10|         20000|
|Kundan|  28|         5| 15000|         28|                 5|         15000|
| Niraj|  24|         2| 10000|         24|                 2|         10000|
| Ritik|null|      null|400000|         28|                 5|        400000|
|  null|  34|        10| 52000|         34|                10|         52000|
|  null|  36|      null|  null|         36|                 5|         78857|
+------+----+----------+------+-----------+------------------+--------------+